@import '../../../../styles.scss';

.header {
  background-color: $white;
  font-size: medium;
}

.leftPart {
  display: flex;
  align-items: center
}

.rightEmail a {
  text-decoration: none;
  color: $headfoot;
}

.header a:hover {
  color: #999;
}

.logo {
  color: $white;
  width: 85px;
  display: flex;
  align-items: center
}

.logo a {
  text-decoration: none;
  color: $headfoot;
}

::ng-deep .bg-light {
  background-color: $blue !important;  
}
::ng-deep .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-lin{
  color: $background !important;
}
::ng-deep .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{

  opacity: 3 !important;
}
::ng-deep .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
  color: $white !important;
}
