@import '../../../../styles.scss';

.header {
  background-color: $headfoot;
  font-size: 14px;
  font-family: $fontFamily;
  position: relative;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0px;
  margin: 0px 15px;
  display: inline-block;
  color: $white !important;
  opacity: 0.9;
}

.navbar .phone {
  color: $white;
  text-decoration: none;
  cursor: auto;
}

.nav-link:hover {
  opacity: 1;
  color: #ffffff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

::ng-deep .navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-lin {
  opacity: 1 !important;
  font-weight: 700;
}

.rightEmail a {
  text-decoration: none;
  color: $white;
}

.rightEmail a:hover {
  color: #999;
}

.logo {
  color: $white;
  width: 85px;
  display: flex;
  align-items: center
}

// ::ng-deep .navbar {
//   z-index: 11111;
// }
.headernav {
  z-index: 11111;
}

::ng-deep .bg-light {
  background-color: $blue !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
  }

}

@media (max-width: 992px) {
  .header {
    font-size: 12px;
  }

  .logo {
    width: 70px;
    margin-left: -5px;
  }
}

.maxWidth {
  max-width: 200px;
}


@media screen and (max-width: 768px) {
  .imageHide{
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    margin-top: 0;
  }
 

  .dropdown-toggle {
    margin-bottom: 2px;
  }

  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: $blue;
  color: $white;
}
