<div class='header container-fluid'>
  <div class="row ">
    <div class='col-6'>
      <div class='logo pointer' routerLink='/'>
          <img src='assets/images/logo.png' class='img-fluid'>
          <img class="manthan" src="assets/images/manthan.png" class='img-fluid' />
      </div>

    </div>
    <div class="ml-auto mr-3 align-self-center rightEmail">
      <a href='mailto: jindalsrjt@gmail.com'>
        <i class="fa fa-envelope"></i>
        jindalsrjt@gmail.com
      </a>
    </div>
  </div>
  
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': (menu == 'construction')}" routerLink="/construction">
          {{ 'client-menu.construction' | translate }} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': (menu == 'environmental')}" routerLink="/environmental">
          {{ 'client-menu.environmental' | translate }} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [ngClass]="{'active': (menu == 'medical')}" routerLink="/medical">
          {{ 'client-menu.medical' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [ngClass]="{'active': (menu == 'aboutus')}" routerLink="/aboutus">
          {{ 'client-menu.AboutUs' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [ngClass]="{'active': (menu == 'contactus')}" routerLink="/contactus">
          {{ 'client-menu.ContactUs' | translate }}</a>
      </li>
    </ul>
    <a href="#" class='mr-1 phone'> <i class="fa fa-phone" aria-hidden="true"></i>
      +91-8320693151</a>
  </div>
</nav>
