@import '../../../../styles.scss';

.header {
  height: 100px;
  background-color: $headfoot;
  font-size: 100%;
}

.headerCotent {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 20px;
  margin-right: 20px;
}

.rightEmail {
  color: $white;
  text-decoration: none;
  float: right;
}

.header a:hover {
  color: #999;
}

.headerCotent {
  .logo{
    color: $white;
  }
}

.bg-light {
  background-color: #333333;
}
