<div class="flex fx-dirc-c root">
    <div class="flex-expand background mt">
      <!--service title start-->
      <section class='ProductFeaturesTitle'>
        <div class='container'>
          <div class='row justify-content-center'>
            <div class='col-12 col-md-4 align-center  '>
              <h2 class='normal'> {{ 'client-menu.OtherService' | translate }}</h2>
            </div>
          </div>
        </div>
      </section>
       <!--service title end-->
  
       <!--service list start-->
      <section class='ProductFeatures'>
        <div class='container'>
          <div class='row align-items-center'>
            <div class='col-md-6 image-element align-center '>
              <img
                src='assets/images/tender.png'
                class='img-fluid'>
            </div>
            <div class='col-md-6 text-element '>
              <div class="text-content">
                <h2 class="mbr-title pt-2  align-left display-2">
                  {{ 'otherService.TenderingWork' | translate }}
                </h2>
              </div>
            </div>
  
          </div>
        </div>
      </section>
      <section class='ProductFeatures'>
        <div class='container'>
          <div class='row align-items-center'>
            <div class='col-md-6 text-element '>
              <div class="text-content">
                <h2 class="mbr-title pt-2  align-left display-2">
                  {{ 'otherService.BidEvaluationWork' | translate }}
                </h2>
                
              </div>
            </div>
            <div class='col-md-6 image-element '>
              <img src='assets/images/Evaluation.png' class='img-fluid'>
            </div>
  
          </div>
        </div>
      </section>
      <section class='ProductFeatures'>
        <div class='container'>
          <div class='row align-items-center'>
            <div class='col-md-6 image-element align-center '>
              <!-- <i class="fa fa-trophy" aria-hidden="true"></i> -->
              <img src="assets/images/gem.png" class='img-fluid'>
            </div>
            <div class='col-md-6 text-element '>
              <div class="text-content">
                <h2 class="mbr-title pt-2  align-left display-2">
                  {{ 'otherService.GemRegistrationandBiddingonGemWork' | translate }}
                </h2>
               
              </div>
            </div>
  
          </div>
        </div>
      </section>
       <!--service list end-->
    </div>
  </div>
  