<div class="flex fx-dirc-c root">
  <div class="flex-expand background mt">
    <!--service title start-->
    <section class='ProductFeaturesTitle'>
      <div class='container'>
        <div class='row justify-content-center'>
          <div class='col-12 col-md-3 align-center  '>
            <h2 class='normal'> {{ 'client-menu.Clients' | translate }}</h2>
          </div>
        </div>
      </div>
    </section>
    <div class='container mt-2'>
        <div class='row' >
          <div class='col-md-4' >
            <div class="card mb-4 mt-4">
              <img class="card-img-top" alt="image_1" src='assets/images/clients/rmcClients_1.png'
                data-holder-rendered="true" class='img-fluid'>
                <div class="overlay">RMC Rajkot</div>
              <!-- <div class="card-body">
                <p class="card-text"></p>
              </div> -->
            </div>
          </div>
          <div class='col-md-4' >
            <div class="card mb-4 mt-4">
              <img class="card-img-top" alt="image_2" src='assets/images/clients/rudaclient_2.png'
                data-holder-rendered="true" class='img-fluid'>
                <div class="overlay">Ruda Rajkot</div>
              <!-- <div class="card-body">
                <p class="card-text"></p>
              </div> -->
            </div>
          </div>
          <div class='col-md-4' >
            <div class="card mb-4 mt-4">
              <img class="card-img-top" alt="image_1" src='assets/images/clients/westerrailwayclient_3.jpg'
                data-holder-rendered="true" class='img-fluid'>
                <div class="overlay">Western Railway</div>
              <!-- <div class="card-body">
                <p class="card-text"></p>
              </div> -->
            </div>
          </div>
        </div>
      
      </div>
  </div>
  
</div>
