@import '../../../../styles.scss';

.btn-outline {
  color: $headerButtonColor;
  border-color: $headerButtonColor;
}

.btn-outline:hover {
  color: $headerButtonTextColor;
  background-color: $headerButtonColor;
  border-color: $headerButtonColor;
}

.desktop {
  display: list-item;
}

.mobile {
  display: none;
}

@media all and (max-width: 991px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: list-item;
  }
}