<div class="flex fx-dirc-c root">
  <div class="flex-expand background mt">
    <!--service title start-->
    <section class='ProductFeaturesTitle'>
      <div class='container'>
        <div class='row justify-content-center'>
          <div class='col-12 col-md-3 align-center  '>
            <h2 class='normal'> {{ 'client-menu.AboutUs' | translate }}</h2>
          </div>
        </div>
      </div>
    </section>
     <!--service title end-->

     <!--service list start-->
    <section class='ProductFeatures'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-md-6 image-element align-center '>
            <img
              src='assets/images/ownerPics.png'
              class='img-fluid'>
          </div>
          <div class='col-md-6 text-element '>
            <div class="text-content">
              <h2 class="mbr-title pt-2  align-left display-2">
                {{ 'AboutUs.DirectorDesk' | translate }}
              </h2>
              <div class="mbr-section-text">
                <p class="pt-3 align-left ">
                  {{'AboutUs.DirectorDeskDescription' | translate}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class='ProductFeatures'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-md-6 text-element '>
            <div class="text-content">
              <h2 class="mbr-title pt-2  align-left display-2">
                {{ 'AboutUs.RoadMapTitle' | translate }}
              </h2>
              <div class="mbr-section-text">
                <ul class="pt-3 align-left ">
                  <li> {{'AboutUs.RoadMapDescription1' | translate}}</li>
                  <li class='pt-2'> {{'AboutUs.RoadMapDescription2' | translate}}</li>

                </ul>
              </div>
            </div>
          </div>
          <div class='col-md-6 image-element '>
            <img src='assets/images/RoadMap.png'>
          </div>

        </div>
      </div>
    </section>
    <section class='ProductFeatures'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-md-6 image-element align-center '>
            <!-- <i class="fa fa-trophy" aria-hidden="true"></i> -->
            <img src="assets/images/illustration-trophy.png" class='img-fluid'>
          </div>
          <div class='col-md-6 text-element '>
            <div class="text-content">
              <h2 class="mbr-title pt-2  align-left display-2">
                {{ 'AboutUs.Awards' | translate }}
              </h2>
              <div class="mbr-section-text">
                <p class="pt-3 align-left ">
                  {{'AboutUs.AwardsDescription' | translate}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
     <!--service list end-->
  </div>
</div>
