<div class="login-background">
  <div class="login-wrap flex">
    <div class="login-html w-100">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
        class="tab pointer">{{ 'login.signin' | translate }}</label>
      <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2"
        class="tab tab-fp pointer">{{ 'login.forgtpasswd' | translate }}</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="loginuser" class="label">{{ 'login.usernmoremail' | translate }}</label>
            <input id="loginuser" type="text" class="input" [(ngModel)]="username">
          </div>
          <div class="group">
            <label for="pass" class="label">{{ 'login.passwd' | translate }}</label>
            <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="password">
          </div>
          <div class="hr"></div>
          <div class="group">
            <button type="button" class="btn btn-primary btn-lg btn-block login-btn" [disabled]="!username || !password"
              (click)="signin()">{{ 'login.signin' | translate }}</button>
          </div>
        </div>
        <div class="for-pwd-htm">
          <div class="group">
            <label for="resetuser" class="label">{{ 'login.usernmoremail' | translate }}</label>
            <input id="resetuser" type="text" class="input" [(ngModel)]="email">
          </div>
          <div class="hr"></div>
          <div class="group">
            <button type="button" class="btn btn-primary btn-lg btn-block login-btn"
              (click)="reset()">{{ 'login.rstpasswd' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>