<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
       
        <ul class="list-unstyled components">
        
        
            <li class="active">
                <a href="#">About</a>
            </li>
         
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
    
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Category</span>
                </button>
    
            </div>
        </nav>
    </div>
</div>