@import '../../../../styles.scss';


.carousel-item img {
  max-width: 100%;
  height: 574px;
}

// .fadeInBlockLeft {
//   opacity: 0;
//   margin-left: -300px;
//   max-width: 100%;
// }

// .fadeInBlockRight {
//   opacity: 0;
//   margin-right: -300px;
//   max-width: 100%;
// }

.ProductFeaturesTitle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #ffffff;
  position: relative;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.ProductFeaturesTitle .normal {
  font-weight: bold;
  font-size: 48px;
  border-bottom: 3px solid #e961a7;
  display: inline-block;
}

.ProductFeatures {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
  position: relative;
}

.image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.ProductFeatures .text-content {
  padding: 3rem;
}

.ProductFeatures .mbr-title {
  color: #e96188;
}

.btn-info {
  background-color: $headfoot;
  color: $white;
}

.btn-info:hover {
  background-color: $blue;
  color: $white;
}

@media (max-width: 992px) {
  .carousel-item img {

    height: 360px;
  }
}

@media (max-width: 700px) {
  .carousel-item img {

    height: 300px;
  }
}
